@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('/fonts/Rubik-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
}

:root {
  --bs-blue: #1974cf;
  --bs-indigo: #6610f2;
  --bs-purple: #33236c;
  --bs-light-purple: #7405fd;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  --bs-yellow: #ceb728;
  --bs-green: #03dac6;
  --bs-teal: #20c997;
  --bs-cyan: #0decf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f4623a;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #121212;
}

.purple {
  color: var(--bs-purple);
}

.yellow {
  color: var(--bs-yellow);
}

.grey {
  color: var(--bs-gray-500);
}

.white {
  color: var(--bs-white);
}

h2,
h3,
h4,
h5 {
  color: #8e8282bd;
  font-weight: 400;
}

.m-auto {
  margin: auto;
}

.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.w-50 {
  width: 50%;
}

/* .pointer {
  cursor: pointer;
} */

.btn {
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  width: 50%;
  cursor: pointer;
  margin: 8px;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.light-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-5 {
  z-index: 5;
}

.grow {
  transform: scale3d(1.2, 1.2, 1.2);
}

.remove {
  display: none !important;
}

.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

.flip-back {
  transform: perspective(200px) rotateX(20deg)
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  /* overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
  background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
  margin: 0 !important;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/****************** LOGIN AND REGISTER *******************/
.login {
  margin: auto;
  display: flex;
  text-align: center;
}

.login-header {
  display: flex;
  justify-content: center;
  padding: 0 20px 10px 20px;
}

.login-erin {
  color: #3474c3;
  font-size: 40px;
}

.erin {
  width: 40vh;
}

.logo {
  width: 30vh;
  position: absolute;
}

.login-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.log-RegText {
  width: 13em;
  border-radius: 10px;
  border: 2px solid;
  padding: 5px;
  font-size: 22px;
  margin: 5px;
}

.btn-box {
  display: flex;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.log-btn {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f99c0e;
  width: 7em;
  cursor: pointer;
  margin: 8px;
  background-color: #1f1a41;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
}

.reg-btn {
  width: 10em;
}

.passport-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 14em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  padding: 2px;
  margin-top: 1em;
  align-items: center;
  justify-content: space-evenly;
}

#google-btn {
  background-color: #c23825;
}

#google-btn:active {
  transform: translateY(5px);
}

#facebook-btn {
  background-color: #304a7d;
}

#facebook-btn:active {
  transform: translateY(5px);
}

#github-btn {
  background-color: #343a41;
}

#github-btn:active {
  transform: translateY(5px);
}

.btn-text {
  margin: auto;
  font-size: 1.1rem;
}

.message {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #1f1a41;
  border: 3px solid #f99c0e;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  padding: 0 10px 10px;
  text-align: center;
  font-size: 1.5em;
  color: #f99c0e;
  border-radius: 10px;
}

.message button {

  color: #1f1a41;
  font-weight: 700;
  background-color: #f99c0e;
}

.register {
  justify-content: center;
}

.register h2 {
  color: white;
  align-self: center;
  margin: 0;
}

.register-btn {
  margin-top: 2em;
}

.message-text {
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .log-RegText {
    width: 17em;
  }

  .log-btn {
    font-size: 20px;
  }

  .passport-btn {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .log-RegText {
    width: 18em;
  }

  .log-btn {
    font-size: 22px;
  }

  .passport-btn {
    font-size: 24px;
  }
}

/****************** NAVBAR ********************/
.iconBar {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 5;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}

.iconBar svg {
  font-size: 6.5vh;
  color: #fff;
  cursor: pointer;
}

/*************PROFILE PAGE****************/
.profile-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* flex-grow: 1;
  background: linear-gradient(to bottom, rgba(6, 4, 14, 1) 0%, rgba(2, 2, 52, 1) 100%); */
}

.profile-name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', serif;
}

.profile-name p {
  font-family: 'Rubik';
  color: #f99c0e;
  font-weight: 900;
  font-size: 26px;
}

.profile-score {
  font-weight: 500;
  color: #FFF;
}

.line {
  width: 7em;
  height: 5px;
  border-radius: 3.75rem;
  margin: .25rem auto;
  background-image: linear-gradient(-180deg, var(--bs-purple) 0%, #332268 100%);
  box-shadow: 0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.welcome p {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  /* background: linear-gradient(to bottom, #fff 0%, #f99c0e 100%); */
  background-image: linear-gradient(-180deg, #b0a7cd 0%, #332268 100%);
  border-radius: 22px;
  padding: 10px;
}

.profile {
  margin: 3em 1em 1em;
}

.profile-btn {
  cursor: pointer;
  position: relative;
  margin: auto;
  padding: 5px 20px;
  border-radius: 10px;
  line-height: 1.5rem;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  /* background-image: linear-gradient(-180deg, #b0a7cd 0%, #332268 100%); */
  background-color: #f99c0e;
  letter-spacing: normal !important;
  color: #fff;
}

.fill {
  display: flex;
  position: relative;
  margin: 2em auto;
  height: 75vw;
  width: 75vw;
}

.fill img {
  padding: 1em !important;
}

.floating {
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.ss-profile {
  display: flex;
  z-index: -1;
}

@media (min-width: 400px) {
  .profile-name p {
    font-size: 30px;
  }

  .welcome p {
    font-size: 26px;
  }
}

@media (min-width: 500px) {
  .profile {
    margin: 3em 3em 1em;
  }

  .fill {
    height: 50vw;
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .profile-name p {
    font-size: 36px;
  }

  .welcome p {
    font-size: 26px;
    padding: 1em;
  }

  .profile {
    margin: 3em 5em 1em;
  }

  .profile-btn {
    font-size: 22px;
    padding: 6px 22px;
  }

  .fill {
    height: 40vw;
    width: 40vw;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .profile-name p {
    font-size: 30px;
  }

  .welcome p {
    width: 60vw;
  }

  .fill {
    height: 35vw;
    width: 35vw;
  }

}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .profile-name p {
    font-size: 30px;
  }

  .profile-name {
    margin-top: 3em;
  }

  .welcome p {
    width: 60vw;
  }

  .fill {
    height: 30vw;
    width: 30vw;
  }

}

@media screen and (min-width: 1400px) and (orientation: landscape) {
  .welcome p {
    width: 40vw;
  }

  .fill {
    height: 25vw;
    width: 25vw;
  }
}

@media screen and (min-width: 1400px) and (orientation: landscape) {
  .welcome p {
    width: 40vw;
  }

  .fill {
    height: 20vw;
    width: 20vw;
  }
}

/****************** HOME ********************/

.infinite-scroll-loop-outer {
  position: relative;
  overflow: hidden;
  margin-top: 12.5vh;
  margin-bottom: 5vh;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.infinite-scroll-loop-outer::after,
.infinite-scroll-loop-outer::before {
  border-radius: 50%;
  height: 10%;
  width: 90vw;
  margin: auto;
  content: "";
  position: fixed;
  z-index: 0;
  transform: rotateX(45deg);
  right: 0;
  left: 0;
  background-color: #000;
  box-shadow: inset -25px -15px 40px rgb(0 0 0 / 74%);
}

.infinite-scroll-loop-outer::after {
  top: 9vh;
  box-shadow: 0 20px 100px #473195, inset 0 -6px 10px 5px #432c8a78;
}


.infinite-scroll-loop-outer::before {
  bottom: 2vh;
  box-shadow: 0 10px 100px #473195, inset 0 6px 10px 5px #432c8a78;
}

.infinite-scroll-loop-inner {
  overflow-y: scroll;
  scrollbar-width: none;
}

.infinite-scroll-loop-inner::-webkit-scrollbar {
  display: none;
}

.grid-item {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  margin: 2em auto;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  box-shadow: inset -25px -15px 40px rgb(0 0 0 / 74%);
  background-image: url('../../public/icons/logo-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.item-icon {
  font-size: 3vh;
  color: #fff;
  text-shadow: 4px 1px 4px #000;
}

.grid-item svg {
  color: #4471c1;
  font-size: 1.75em;
  background-color: #fff;
  border: solid 7px #b1b1bc;
  border-radius: 8px;
  box-shadow: 5px 2px 10px #000;
}

.bouncing {
  animation: bouncing 2s ease-in-out infinite;
}

@keyframes bouncing {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.leaders {
  display: none;
}

.leader-img {
  display: none;
}

@media (min-width: 500px) {
  .infinite-scroll-loop-outer {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: 60vw;
  }

  .item-icon {
    font-size: 3vh;
  }
}

@media (min-width: 900px) {

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: 45vh;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .infinite-scroll-loop-outer {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: 50vh;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {

  .leaders {
    display: flex;
    flex-direction: column;
    position: fixed;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    text-align: center;
    cursor: pointer;
  }

  .leaders h1 {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 0;
  }

  .leader-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20%;
  }

  .side-board {
    display: flex;
    font-size: 24px;
  }

  .side-board div {
    margin: 3px;
  }

  .side-board .board-score {
    margin-left: auto;
  }

  .side-board .name {
    width: 200px;
    text-align: start;
    overflow: hidden;
  }
}

/************* Scorecard ****************/
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 4;
}

.scorecard-title {
  color: #fff;
}

.scorecard p {
  margin: 0;
  margin-bottom: 5px;
}

.high-score {
  font-size: 1.5em;
}


/***********Leaderboard***********/
.leaderboard-page {
  height: 100vh;
  padding-top: 4em;
}

.particle-bg {
  position: absolute;
  top: 0;
  z-index: 5;
}

.lead-container {
  height: 65vh;
  overflow: auto;
  width: fit-content;
  border-radius: 22px;
  border: 2px solid #fff;
  margin: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.lead-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.name {
  color: gold;
  font-weight: 700;
  font-size: 28px;
}

.place {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.number {
  font-size: 28px;
  font-weight: 700;
}

.place svg {
  color: gold;
  font-size: 2em;
}

.flex-table-top {
  display: flex;
  width: 50vw;
  margin: auto;
  justify-content: space-evenly;
  filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(255, 255, 255, 0.25); /* Just adjust the color or opacity to make the text pop! */
  /* box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%); */
  padding: 20px 50px;
  border-radius: 22px;
  
}
.table-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 10px auto;
  padding: 0px 0px 8px;
  text-decoration: underline;
  width: fit-content;
}

.table-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.left-column {
  display: flex;
  color: #fff;
  font-size: 26px;
  text-align: center;
  justify-content: flex-start;
}

.left-column h3{
  margin: .5em;
}

.right-column {
  display: flex;
  color: #fff;
  font-size: 26px;
  text-align: center;
  justify-content: flex-end;
}

.right-column h3{
  margin: .5em;
}

.middle-column {
  width: 55%;
  white-space: nowrap;
  overflow: auto;
}

.prize {
  top: 5px !important;
}

.ss {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: -1;
  width: 100vw;
  align-items: center;
  top: 40%;
  height: 50vh;
}

.world {
  width: 20rem;
  height: 20rem;
  background-color: #050610;
  background-image: url("/images/earth.webp");
  background-color: #7b5af3;
  /* Tint color */
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  animation-name: rotate;
  animation-duration: 32s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 1024px;
  }
}

.board-score {
  color: var(--bs-yellow);
  animation: hue2 5s infinite linear;
  font-weight: 700;
  letter-spacing: 3px;
}

@keyframes hue2 {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-359deg);
  }
}

.circle {
  animation: circle 20s infinite linear;
}

@keyframes circle {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(-0deg);
  }
}

/***********Quiz***********/
.quiz-page {
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1; */
}

.background {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-start-btn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 700;
  padding: 10px 30px;
  background-color: #f99c0e;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.question-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.button-group {
  margin: 1em auto 0;
  border-top: 1px solid #1976D2;
  border-bottom: 1px solid #1976D2;
  width: 85%;
}

.q-btn {
  color: var(--bs-yellow) !important;
  font-size: 1.15rem !important;
  border-radius: 10px !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em !important;
  background-image: linear-gradient(-180deg, var(--bs-purple) 0%, #332268 100%);
  box-shadow: 0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.q-btn:hover {
  background-color: initial !important;
}

.top-question.q-btn {
  min-height: 100px;
  font-size: 24px !important;
}

.quiz-fill {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* .quiz-fill.end {
  margin-top: 6em;
  margin-bottom: 2em;
} */

.high-score-text {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 400;
  color: #fdfeff;
  text-align: center;
  margin: 1.5em auto;
}

.high-score-text p {
  height: fit-content;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white;
  /* The cursor */
  white-space: nowrap;
  /* Important Keeps the content on a single line */
  margin: 0 auto;
  /* scrolling effect as the typing happens */
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

.spaces {
  margin-right: .25em;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The bubble cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

.done-container {
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-top: 15vh;
}

.trophy-fill img{
 top: 30vh !important;
}

.done {
  text-align: center;
  padding-top: 1em;
  color: #fff;
  margin-bottom: 3em;
}

.final-btn {
  color: #fff;
  text-decoration: none !important;
  background-color: #f99c0e;
  padding: 5px 15px 8px;
  border: 2px solid var(--bs-yellow) !important;
  border-radius: 15px;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.done-score {
  color: var(--bs-yellow);
  animation: hue 5s infinite linear;
  font-weight: 500;
  letter-spacing: 3px;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-359deg);
  }
}

@media (min-width: 500px) {
  .done-container {
    font-size: 26px;
  }
}
