a {
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0 !important;
  font-weight: 600;
}

/****************** LOGIN AND REGISTER *******************/
.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.erin {
  width: 40vh;
}

.login-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.credentials {
  width: 12em;
  border-radius: 10px;
  border: 2px solid;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
}

.log-btn-box {
  display: flex;

}

.log-btn {
  border-radius: 12px;
  font-size: 16px;
  padding: 6px 0;
  color: #fff;
  width: 7em;
  cursor: pointer;
  margin: 8px;
  background-color: #005991;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
}

.guest-btn {
  font-size: 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.passport-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  width: 13em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  padding: 3px;
  margin-top: 1em;
  align-items: center;
  justify-content: space-evenly;
}

#google-btn {
  background-color: #c23825;
}

#facebook-btn {
  background-color: #304a7d;
}

#github-btn {
  background-color: #343a41;
}

.reg-btn {
  width: 10em;
}

.register-btn {
  margin-top: 2em;
}

.message {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 90%);
  /* Just adjust the color or opacity to make the text pop! */
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
}

.err.message-btn {
  background-color: red;
  color: #fff;
}

.message-btn {
  background-color: #fff;
  color: #1f1a41;
  font-weight: 600;
}

@media (max-width: 400px) and (min-height: 800px) {
  .erin {
    width: 80vw;
  }
}

@media (min-width: 400px) {
  .credentials {
    width: 15em;
  }

  .log-btn {
    font-size: 18px;
  }

  .passport-btn {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (min-height:800px) {
  .credentials {
    width: 17em;
  }

  .log-btn {
    font-size: 20px;
  }

  .passport-btn {
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (min-height:800px) {
  .credentials {
    width: 18em;
  }

  .log-btn {
    font-size: 22px;
  }

  .passport-btn {
    font-size: 22px;
  }
}


/****************** NAVBAR ********************/
.iconBar {
  position: relative;
  z-index: 1111;
  width: fit-content;
  margin-top: 2%;
  margin-left: 2%;
}

.burger {
  background-color: #005991;
  border: #005991 solid 4px;
  border-radius: 10px;
  cursor: pointer;
}

.burger.active {
  position: relative;
  z-index: 999;
  background-color: #005991;
  border-radius: 10px;
}

.patty {
  width: 28px;
  height: 4px;
  background-color: #fff;
  margin: 5px;
  border-radius: 10px;
}

.patty.active {
  background-color: #fff;
}

.menu {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
  background-color: #fff;
  width: fit-content;
  border: solid 6px #005991;
  border-radius: 10px;
  padding-bottom: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 6px;
  color: #005991;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  border: solid 2px #fff;
}

@media (max-height: 800px) {
  .menu-item {
    font-size: 24px;
  }
}

.menu-item:hover {
  color: #fff;
  background-color: #005991;
}

.cancel:hover {
  border-color: #fff;
}

.menu svg {
  
  font-size: 36px;
  margin-right: 10px;
}

.cancel {
  background-color: #005991;
  border: none;
  border-bottom: solid #fff 6px;
  border-color: #fff;
}

.cancel svg {
  color: #fff !important;
}

@media (min-width: 600px) {
  .burger {
    border-width: 6px;
  }

  .patty {
    width: 40px;
    height: 6px;
    margin: 6px;
  }

}

@media (min-width: 1200px) {
  .iconBar {
    width: fit-content;
    margin-top: 1%;
    margin-left: 1%;
  }
}

/*************PROFILE PAGE****************/
.profile-page {
  display: flex;
  flex-direction: column;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}

.welcome {
  margin: 2em 10px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  background-color: #005991;
  border-radius: 22px;
  padding: .75em;
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.profile-name {
  text-align: center;
  font-weight: 900;
  color: gold;
  margin: 0;
  font-size: 22px;
}

.divider {
  background-color: gold;
  height: 3px;
  width: 40%;
  margin: 6px auto;
}

.pro-btn-container {
  display: flex;
  justify-content: center;
}


.profile-btn {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: center;
  margin: 0 1em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  color: gold;
  background-color: #005991;
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
  width: 120px;
  padding: 5px 12px;
}

.profile-btn svg {
  font-size: 2em;
}

.fill {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 75%;
  margin: 2em auto auto;
  width: 250px;
}

.floating {
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, -0px);
  }
}



@media (min-height:800px) {
  .welcome {
    font-size: 20px;
  }

  .profile-btn {
    font-size: 16px;
  }
}

@media (min-width: 400px) and (min-height: 801px) {
  .welcome {
    font-size: 22px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-name {
    font-size: 24px;
  }

  .profile-btn {
    font-size: 18px;
  }

.fill {
  width: 300px;
}
}

@media (min-width: 600px) and (min-height: 801px) {
  .profile-name {
    font-size: 26px;
  }

  .welcome {
    font-size: 24px;
  }

  .profile-btn {
    margin: 0 2em;
  }

}

@media (min-width: 800px) and (min-height: 801px) {


  .welcome {
    width: 60vw;
  }

  .divider {
    margin: 16px auto;
  }
}

@media (min-width: 1000px) and (min-height: 801px) {
  .profile-name {
    font-size: 28px;
  }

  .welcome {
    font-size: 26px;
  }

  .profile-btn {
    font-size: 20px
  }

  .fill {
    width: 350px;
  }
}

@media (min-width: 1400px) and (min-height: 801px) {
  .profile-name {
    font-size: 30px;
  }

  .welcome {
    width: 65vh;
  }
}

@media (max-width: 400px) and (max-height: 800px) {
  .welcome {
    margin: 0 10px 1em;
    font-size: 18px;
  }

  .profile-name {
    font-size: 18px;
  }

  .profile-btn {
    font-size: 16px;
    margin: 0 1em;
  }

  .fill {
    width: 250px;
    margin: 1em auto auto;
  }
}


@media (min-width: 400px) and (max-height: 800px) {
  .welcome {
    margin: .75em 10px;
    font-size: 20px;
  }

  .profile-name {
    font-size: 22px;
  }

  .profile-btn {
    font-size: 16px;
    margin: 1em 1em 0;
  }

  .fill {
    width: 250px;
  }
}

@media (min-width: 600px) and (max-height: 800px) {
  .welcome {
    width: 70vw;
    margin: 0em auto 1em;
  }

  .profile-name {
    font-size: 24px;
  }

}


@media (min-width: 800px) and (max-height: 800px) {
  .welcome {
    width: 55vw;
  }

}

@media (min-width: 1200px) and (max-height: 800px) {
  .welcome {
    width: 40vw;
  }

}



/****************** HOME ********************/

.infinite-scroll-loop-outer {
  --width: 200px;
  position: absolute;
  top: 13%;
  bottom: 5%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.infinite-scroll-loop-outer::after,
.infinite-scroll-loop-outer::before {
  border-radius: 50%;
  height: 10%;
  width: calc(var(--width) * 1.75);
  max-width: 90vw;
  margin: auto;
  content: "";
  position: fixed;
  z-index: 0;
  transform: rotateX(45deg);
  right: 0;
  left: 0;
  background-color: #000;
  box-shadow: inset -25px -15px 40px rgb(0 0 0 / 74%);
}

.infinite-scroll-loop-outer::after {
  top: 9%;
  box-shadow: inset 0px -20px 0px 0px #ffffff78;
}


.infinite-scroll-loop-outer::before {
  bottom: 1%;
  box-shadow: inset 0px 20px 0px 0px #ffffff78;
}

.infinite-scroll-loop-inner {
  overflow-y: scroll;
  scrollbar-width: none;
}

.infinite-scroll-loop-inner::-webkit-scrollbar {
  display: none;
}

.grid-item {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  margin: 1em auto;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 
  
  inset -25px -15px 40px rgb(0 0 0 / 74%);
}

.grid-item img {
  z-index: -100;
}

.grid-item::before {
  content: "";
  position: absolute;
  box-shadow: 
  4px 2px 10px #000,
  inset -25px -15px 40px rgb(0 0 0 / 74%);
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
}

.grid-item a {
  background-color: #024875; 
  background-color: rgba(0, 0, 0, 90%);
  min-width: 60%;
  padding: 5% 1% 3%;
  border-radius: 10px;
  box-shadow: 6px 2px 8px #000;
  z-index: 50;
}

.item-icon {
  color: #fff;
  font-weight: 500;
}

.grid-item svg {
  font-size: 2em;
  color: #f79b0e;
  background-color: transparent;
  border-radius: 8px;
  margin-top: 3px;
}

.bouncing {
  animation: bouncing 2s ease-in-out infinite;
}

@keyframes bouncing {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.leaders {
  display: none;
}

.leader-img {
  display: none;
}


@media (min-width: 700px) and (max-height: 800px) {
  .infinite-scroll-loop-outer::after {
    top: 1%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: calc(var(--width) * 1.75);
  }

  .infinite-scroll-loop-outer {
    --width: 225px;
    top: 5%;
  }
}

@media (min-width: 700px) and (min-height: 801px) {
  .infinite-scroll-loop-outer::after {
    top: 1%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: calc(var(--width) * 1.75);
  }

  .infinite-scroll-loop-outer {
    --width: 250px;
    top: 5%;
  }

  .grid-item {
    font-size: 22px;
  }
}




@media screen and (min-width: 1200px) {
  .leaders {
    display: flex;
    flex-direction: column;
    position: fixed;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 82%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 360px;
    font-size: 22px;
    font-weight: 800;
  }

  .leaders h1 {
    color: #aa00b5;
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .side-board {
    display: flex;
    width: 100%;
  }

  .leaders div {
    margin: 3px;
  }

  .home-place {
    color: #aa00b5;
    width: 10%;
    text-align: end;
  }

  .home-name {
    color: #000;
    width: 70%;
    text-align: start;
    overflow: hidden;
    padding-left: 2%;
  }

  .home-score {
    color: #aa00b5;
    text-align: end;
    padding-right: 2%;
  }


  .leader-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    border-radius: 10px;
  }




}

/***********Quiz***********/
.quiz-page {
  height: 100vh;
  display: flex;
}

.middle-quiz {
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.quiz-img {
  width: 225px;
  margin: 0 auto;
}

.quiz-start-btn {
  width: fit-content;
  font-size: 24px;
  font-weight: 900;
  padding: 2px 8px;
  background-color: #005991;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10% auto;
  box-shadow: 3px 2px 6px #000;
}

.question-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  width: fit-content;
  margin: 0 auto .5em;
  padding: .25em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  background-color: red;
  border-radius: 12px;
  box-shadow:
    3px 2px 8px #000,
    0 -0.25rem 1.5rem red inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 red inset;
}

.stopwatch div {
  width: 1.33em;
}

.stopwatch span {
  padding-bottom: .1em;
}


.question-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.question {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  margin: 12px auto;
  background-image: linear-gradient(-180deg, #005991 0%, #005991 100%);
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.q-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 19px;
  min-height: 50px;
  font-weight: 500;
  border-radius: 10px;
  border-style: none;
  margin: 10px 5%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(-180deg, #005991 0%, #005991 100%);
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.q-btn:hover {
  bottom: 2px;
}

.done-container {
  margin: auto;
  padding: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background-color: #005991;
}

.finished-img {
  width: 200px;
  height: 300px;
  margin: 0 auto;
}

.final-btn {
  width: fit-content;
  font-size: 20px;
  font-weight: 800;
  padding: 2px 8px;
  background-color: gold;
  color: #005991;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 3px 2px 6px #000;
}

.done-score-container {
  margin-top: 0;
}

.done-name {
  margin-bottom: 0;
}

.done-container h1 {
  color: #fff;
  text-align: center;
}

.done-score {
  color: gold;
  font-weight: 700;
}

@media (min-width: 400px) {
  .quiz-img {
    width: 300px;
  }
}

@media (min-width: 600px) {
  .question-container {
    width: 70vw;
  }

  .question {
    padding: 10px;
    font-size: 22px;
  }

  .q-btn {
    font-size: 20px;
  }

  .done-container {
    margin: auto;
    padding: 0 8%;
  }

  .final-btn {
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .quiz-img {
    width: 350px;
  }

  .quiz-start-btn {
    font-size: 26px;
    margin: 10% auto;
  }

  .question-container {
    width: 60vw;
  }

  .question {
    font-size: 24px;
    justify-content: center;
  }

  .q-btn {
    min-height: 52px;
    font-size: 22px;
    margin: 20px 10%;
  }

  .done-container h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }

  .stopwatch {
    font-size: 24px;
  }
}

@media (min-width: 1000px) and (min-height:800px){ 
  .finished-img {
    height: 400px;
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  
  .quiz-start-btn {
    font-size: 32px;
  }

  .question-container {
    width: 50vw;
  }

  
}

@media (min-width: 1400px) {
  .quiz-img {
    width: 400px;
  }

  .question {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    width: 45vw;
  }

  .q-btn {
    font-size: 24px;
    min-height: 55px;
  }

  .stopwatch {
    font-size: 26px;
  }
}

/************* Scorecard ****************/
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  color: gold;
  font-size: 24px;
  font-weight: 700;
  z-index: 4;
  padding: 26px;
  border-radius: 5px;
  background-color: #005991;
  box-shadow:
    3px 2px 7px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.card-score {
  animation: hue2 5s infinite linear;
  color: gold;
}


/***********Leaderboard***********/
.particle-bg {
  position: absolute;
  top: 0;
  z-index: 5;
}

.leaderboard-page {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-size: 22px;
  cursor: default;
}

.table {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 65vh;
  overflow: auto;
  margin: auto;
  margin-top: 0;
  filter: drop-shadow(2px 4px 6px black);
}

@media (max-height:800px) and (max-width:600px) {
  .table {
    height: 55vh;
  }
}

.table::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.table-title {
  color: gold;
  width: fit-content;
  text-align: center;
  font-weight: 900;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 6px auto;
  text-decoration: underline;
}

.tt {
  animation: hue2 5s infinite linear;
}

.row {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 6px 0;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #005991;
  box-shadow:
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.row.loader {
  margin: auto;
  height: 300px;
  padding: 5%;
  color: #fff;
}

.row:hover {
  bottom: 2px;
  background-color: gold;
  box-shadow: none
}

.row.loader:hover {
  bottom: 0px;
  background-color: #005991;
}

.row:hover .name {
  color: #005991;
}


.row:hover .place {
  color: #005991;
}

.row:hover .numbers {
  color: #005991;
}

.front-row {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.name {
  color: #fff;
  font-weight: 700;
  margin-left: 5%;
}

.place {
  color: gold;
  animation: hue2 5s infinite linear;
  font-weight: 700;
}

.numbers {
  color: gold;
  animation: hue2 5s infinite linear;
  font-weight: 700;
}

@keyframes hue2 {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-359deg);
  }
}

@media (min-width: 400px) {
  .scorecard {
    font-size: 26px;
    padding: 25px 30px;
  }

  .leaderboard-page {
    font-size: 26px;
  }

  .table-title {
    font-size: 26px;

  }
}

@media (min-width: 600px) {
  .table {
    width: 75vw;
  }

  .scorecard {
    font-size: 28px;
  }

  .numbers {
    margin: 0 10px;
  }
}

@media (min-width: 800px) {
  .table {
    width: 65vw;
  }
}

@media (min-width: 1000px) {
  .table {
    width: 55vw;
  }

  .scorecard {
    padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  .scorecard {
    font-size: 32px;
  }

  .table {
    width: 45vw;
  }
}

@media (min-width: 1600px) {
  .table {
    width: 40vw;
  }
}