a {
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0 !important;
  font-weight: 600;
}

.loading {
  position: relative;
  top: 30px;
}

.loader {
  border: 12px solid #fff; /* Light grey */
  border-top: 12px solid #005991; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/****************** LOGIN AND REGISTER *******************/
.login-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.erin {
  position: relative;
  height: 280px;
  width: 280px;
  
}

.login-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.credentials {
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
}

.log-btn-box {
  display: flex;
}

.log-btn {
  border-radius: 10px;
  font-size: 17px;
  padding: 6px 0;
  color: #fff;
  width: 7em;
  cursor: pointer;
  margin: 8px;
  background-color: #005991;
  box-shadow: rgba(0, 89, 145, 0.35) 0px 5px 10px;
}

.guest-btn {
  font-size: 19px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.passport-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  width: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.22);
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  padding: 3px 10px;
  margin-top: .8em;
  align-items: center;
  justify-content: flex-start;
}

.passport-btn div {
  margin-left: 20px;
}

.google {
  background-color: #c23825;
  margin-top: .75em;
}

.facebook {
  background-color: #304a7d;
  margin-top: 1em;
}

.reg-btn {
  width: 9em;
}

.message {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 90%);
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
    rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
}

.err.message-btn {
  background-color: red;
  color: #fff;
}

.message-btn {
  box-shadow: none;
  font-weight: 700;
}

@media (min-width: 400px) {
  .credentials {
    width: 300px;
  }
}

/****************** NAVBAR ********************/
.iconBar {
  position: relative;
  z-index: 1111;
  width: fit-content;
  margin-top: 2%;
  margin-left: 2%;
}

.burger {
  background-color: #005991;
  border: #005991 solid 4px;
  border-radius: 10px;
  cursor: pointer;
}

.burger.active {
  position: relative;
  z-index: 999;
  background-color: #005991;
  border-radius: 10px;
}

.patty {
  width: 28px;
  height: 4px;
  background-color: #fff;
  margin: 5px;
  border-radius: 10px;
}

.patty.active {
  background-color: #fff;
}

.menu {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
  background-color: #fff;
  width: fit-content;
  border: solid 4px #005991;
  border-radius: 10px;
  padding-bottom: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 6px;
  color: #000;
  font-size: 26px;
  cursor: pointer;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

.menu-item:hover {
  color: #fff;
  background-color: #005991;
}

.menu-item:hover svg{
  color: #fff;
}

.menu svg {
  color: #005991;
font-size: 36px;
  margin-right: 10px;
}

.cancel {
  background-color: #005991;
  border: none;
}

.cancel svg {
  color: #fff !important;
}

/*************PROFILE PAGE****************/
.profile-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}

.welcome {
  margin: auto;
  width: 80vw;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: #005991;
  border-radius: 22px;
  padding: 10px;
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.profile-name {
  text-align: center;
  font-weight: 900;
  color: gold;
  margin: 0;
  font-size: 18px;
}

.divider {
  background-color: gold;
  height: 3px;
  width: 40%;
  margin: 6px auto;
}

.pro-btn-container {
  display: flex;
  justify-content: center;
}

.profile-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 17px;
  padding: 6px 0;
  color: #fff;
  width: 7em;
  cursor: pointer;
  margin: 16px 8px 24px;
  background-color: #005991;
  box-shadow: rgba(0, 89, 145, 0.35) 0px 5px 10px;
}

.profile-btn svg {
  font-size: 1.5em;
}

.fill {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 220px;
  height: 220px;
}

.floating {
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@media (min-width: 400px) {
  .welcome {
    max-width: 70vh;
    font-size: 18px;
  }

  .profile-name {
    font-size: 19px;
  }

  .pro-btn-container {
    margin-bottom: 1em;
  }
}

@media (min-width: 1000px) {
  .welcome {
    font-size: 20px;
    padding: 26px 16px;
  }

  .profile-name {
    font-size: 22px;
  }

  .profile-btn {
    width: 8em;
    font-size: 16px;
  }

  .profile-btn svg {
    font-size: 2em;
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  .welcome {
    font-size: 24px;
    padding: 26px;
  }

  .profile-name {
    font-size: 26px;
  }

  .fill {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 75%;
    margin: 1em auto;
    width: 300px;
    height: 300px;
  }

  .pro-btn-container {
    margin: 1em;
  }
}

/****************** HOME ********************/

.infinite-scroll-loop-outer {
  --width: 200px;
  position: absolute;
  top: 13%;
  bottom: 5%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.infinite-scroll-loop-outer::after,
.infinite-scroll-loop-outer::before {
  border-radius: 50%;
  height: 10%;
  width: calc(var(--width) * 1.75);
  max-width: 90vw;
  margin: auto;
  content: "";
  position: fixed;
  z-index: 0;
  transform: rotateX(45deg);
  right: 0;
  left: 0;
  background-color: #000;
  box-shadow: inset -25px -15px 40px rgb(0 0 0 / 74%);
}

.infinite-scroll-loop-outer::after {
  top: 9%;
  box-shadow: inset 0px -20px 0px 0px #ffffff78;
}


.infinite-scroll-loop-outer::before {
  bottom: 1%;
  box-shadow: inset 0px 20px 0px 0px #ffffff78;
}

.infinite-scroll-loop-inner {
  overflow-y: scroll;
  scrollbar-width: none;
}

.infinite-scroll-loop-inner::-webkit-scrollbar {
  display: none;
}

.grid-item {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  margin: 1em auto;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.grid-item img {
  z-index: -100;
}

.grid-item::before {
  content: "";
  position: absolute;
  box-shadow:
    inset -25px -15px 50px rgba(0, 0, 0, 0.66);
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
}

.grid-item a {
  background-color: rgba(0, 0, 0, .85);
  min-width: 60%;
  padding: 8% 1% 5%;
  border-radius: 10px;
  box-shadow: 5px 0px 10px #00000075;
  z-index: 50;
}

.item-icon {
  color: #fff;
  font-weight: 500;
}

.grid-item svg {
  font-size: 2em;
  color: #f79b0e;
  background-color: transparent;
  border-radius: 8px;
  margin-top: 3px;
}

.bouncing {
  animation: bouncing 2s ease-in-out infinite;
}

@keyframes bouncing {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.leaders {
  display: none;
}

.leader-img {
  display: none;
}


@media (min-width: 700px) and (max-height: 800px) {
  .infinite-scroll-loop-outer::after {
    top: 1%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: calc(var(--width) * 1.75);
  }

  .infinite-scroll-loop-outer {
    --width: 225px;
    top: 5%;
  }
}

@media (min-width: 700px) and (min-height: 801px) {
  .infinite-scroll-loop-outer::after {
    top: 1%;
  }

  .infinite-scroll-loop-outer::after,
  .infinite-scroll-loop-outer::before {
    width: calc(var(--width) * 1.75);
  }

  .infinite-scroll-loop-outer {
    --width: 250px;
    top: 5%;
  }

  .grid-item {
    font-size: 22px;
  }
}




@media screen and (min-width: 1200px) {
  .leaders {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 82%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 360px;
    font-size: 24px;
    font-weight: 800;
  }

  .leaders h2 {
    color: #000;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .side-board {
    display: flex;
    width: 100%;
    border: #fff solid 3px;
  }

  .side-board:hover {
    border: #005991 solid 3px;
    border-radius: 10px;
  }

  .leaders div {
    margin: 3px;
  }

  .home-place {
    color: #aa00b5;
    width: 10%;
    text-align: end;
  }

  .home-name {
    color: #000;
    width: 70%;
    text-align: start;
    overflow: hidden;
    padding-left: 2%;
  }

  .home-score {
    color: #aa00b5;
    text-align: end;
    padding-right: 2%;
  }


  .leader-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    border-radius: 10px;
  }

.side-loader.loader {
  margin-top: 60px;
}


}

/***********Quiz***********/
.quiz-page {
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.middle-quiz {
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.quiz-img {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.quiz-start-btn {
  width: fit-content;
  font-size: 24px;
  font-weight: 900;
  padding: 2px 8px;
  background-color: #005991;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10% auto;
  box-shadow: 3px 2px 6px #000;
}

.question-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  width: fit-content;
  margin: 0 auto .5em;
  padding: .25em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  background-color: red;
  border-radius: 12px;
  box-shadow:
    3px 2px 8px #000,
    0 -0.25rem 1.5rem red inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 red inset;
}

.stopwatch div {
  width: 1.33em;
}

.stopwatch span {
  padding-bottom: .1em;
}


.question-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.question {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  margin: 12px auto;
  background-image: linear-gradient(-180deg, #005991 0%, #005991 100%);
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.q-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 19px;
  min-height: 50px;
  font-weight: 500;
  border-radius: 10px;
  border-style: none;
  margin: 10px 5%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(-180deg, #005991 0%, #005991 100%);
  box-shadow:
    4px 4px 12px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.q-btn:hover {
  bottom: 2px;
}

@media (min-width: 400px) {
  .quiz-img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 600px) {
  .question-container {
    width: 70vw;
  }

  .question {
    padding: 10px;
    font-size: 22px;
  }

  .q-btn {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .quiz-img {
    width: 350px;
    height: 350px;
  }

  .quiz-start-btn {
    font-size: 26px;
    margin: 10% auto;
  }

  .question-container {
    width: 60vw;
  }

  .question {
    font-size: 24px;
    justify-content: center;
  }

  .q-btn {
    min-height: 52px;
    font-size: 22px;
    margin: 20px 10%;
  }

  .stopwatch {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .question-container {
    width: 50vw;
  }
}

@media (min-width: 1400px) {
  .quiz-img {
    width: 400px;
    height: 400px;
  }

  .question {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    width: 45vw;
  }

  .q-btn {
    font-size: 24px;
    min-height: 55px;
  }

  .stopwatch {
    font-size: 26px;
  }
}

/************* Scorecard ****************/
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  color: gold;
  font-size: 24px;
  font-weight: 700;
  z-index: 4;
  padding: 26px;
  border-radius: 5px;
  background-color: #005991;
  box-shadow:
    3px 2px 7px #000,
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.card-score {
  animation: hue2 5s infinite linear;
  color: gold;
}


/***********Leaderboard***********/
.particle-bg {
  position: absolute;
  top: 0;
  z-index: 5;
}

.leaderboard-page {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
 
  height: 100vh;
  font-size: 22px;
  cursor: default;
}

.table {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 65vh;
  overflow: auto;
  margin: auto;
  margin-top: 0;
  
}

@media (max-height:800px) and (max-width:600px) {
  .table {
    height: 55vh;
  }
}

.table::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.table-title {
  color: #000;
  width: fit-content;
  text-align: center;
  font-weight: 900;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 6px auto;
  text-decoration: underline;
}

.row {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 6px 0;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #005991;
  box-shadow:
    0 -0.25rem 1.5rem #005991 inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 #005991 inset;
}

.leaderboard-loader {
  margin: auto;
  
}

.row:hover {
  bottom: 2px;
  background-color: gold;
  box-shadow: none
}

.row:hover .name {
  color: #005991;
}


.row:hover .place {
  color: #005991;
}

.row:hover .numbers {
  color: #005991;
}

.front-row {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.name {
  color: #fff;
  font-weight: 700;
  margin-left: 5%;
}

.place {
  color: gold;
  animation: hue2 5s infinite linear;
  font-weight: 700;
}

.numbers {
  color: gold;
  animation: hue2 5s infinite linear;
  font-weight: 700;
}

@keyframes hue2 {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-359deg);
  }
}

@media (min-width: 400px) {
  .scorecard {
    font-size: 26px;
    padding: 25px 30px;
  }

  .leaderboard-page {
    font-size: 26px;
  }
}

@media (min-width: 600px) {
  .table {
    width: 75vw;
  }

  .scorecard {
    font-size: 28px;
  }

  .numbers {
    margin: 0 10px;
  }
}

@media (min-width: 800px) {
  .table {
    width: 65vw;
  }
}

@media (min-width: 1000px) {
  .table {
    width: 55vw;
  }

  .scorecard {
    padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  .scorecard {
    font-size: 32px;
  }

  .table {
    width: 45vw;
  }
}

@media (min-width: 1600px) {
  .table {
    width: 40vw;
  }
}